.c-white { color: #ffffff !important; }
.c-danger { color: $danger !important; }
.c-yellow { color: $yellow !important; }
.c-blue { color: $blue !important; }
.c-green { color: $green !important; }
.c-green-dark { color: $green-dark !important; }
.c-black { color: $black !important; }
.c-success { color: $success !important; }
.c-warning { color: $warning !important; }
.c-pending { color: $pending !important; }
.c-sub-text { color: $grey !important; }
.c-border { color: $border-color !important; }
.c-link { color: $link-color !important; }
.c-dark-theme-bg-color { color: $dark-theme-bg-color !important; }

.bg-white { background: #ffffff !important; }
.bg-danger { background: $danger !important; }
.bg-yellow { background: $yellow !important; }
.bg-blue { background: $blue !important; }
.bg-green { background: $green !important; }
.bg-green-dark { background: $green-dark !important; }
.bg-black { background: $black !important; }
.bg-success { background: $success !important; }
.bg-warning { background: $warning !important; }
.bg-pending { background: $pending !important; }
.bg-sub-text { background: $grey !important; }
.bg-border { background: $border-color !important; }
.bg-grey { background: $grey-bg !important; }

