// Variables

$primary-color: #1890ff;
$navbar-bg: #191919;
$navbar-color: #d9d9d9;
$header-bg: #323232;
$header-color: #ffffff;
$border-color: #d9d9d9;
$link-color: #1890ff;
$select-bg: #f7fafb;
$grey-bg: #f8f8f8;
$dark-theme-bg-color: #001529;

$theme-primary: #eb2b30;
$theme-danger: #e74c3c;
$danger: #ff5d5d;
$success: #57cc27;
$warning: #fed136;
$pending: #F5C26B;
$text: rgba(0, 0, 0, 0.65);

// Create grayscale
$gray-darkest: #292b2c;
$gray-darker: #464a4c;
$gray-dark: #89959c;
$gray: #939393;
$gray-light: #e4e9f0;
$gray-lighter: #eef0f4;
$gray-lightest: #f7f7f9;

$black: #151b26;
$blue-lightest: #52bde5;
$blue: #5ea5e4;
$blue-darkest: #313b4b;
$green: #7ad796;
$green-dark: #0c7e33;
$yellow: #ffc300;
$facebook: #3b5998;

$grey: rgb(124, 152, 182);
