.ant-pagination-prev,
.ant-pagination-next {
  .ant-pagination-item-link {
    .anticon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.anticon {
  svg {
    vertical-align: 0 !important;
  }
}
